@model WjbuGangVer2_WebNC.Models.LoaiMH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left:150px; margin-top:50px">
    <h3>Bạn có muốn xóa không?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal" style=" margin-left: 100px; ">
            <dt>
                @Html.DisplayNameFor(model => model.TenLoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenLoai)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> 
            </div>
        }
    </div>
    </div>
