
@{
    ViewBag.Title = "Loggedin";
    Layout = "~/Views/Home/Index.cshtml";
}

    @if (Session["AccountID"] != null)
            {
                <h4>Hello @Session["Username"].ToString()</h4>
            }